* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  padding-bottom: 20px;
}

h2 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 800;
  padding-bottom: 30px;
}

h3 {
  color: #3b865b;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 10px;
}

h4 {
  font-weight: 400;
  padding-bottom: 20px;
}

p {
  padding: 10px 0px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.logo {
  width: 160px;
  height: auto;
  cursor: pointer;
}

.header {
  background-color: white;
  padding: 10px 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-self: center;
}

.btn {
  display: inline-block;
  background-color: #f48ca7;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: 600;
}

.btn:hover {
  background-color: #f69eb5;
}

.menu-item {
  display: inline-block;
  background-color: white;
  color: #314f50;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: 700;
}

.menu-item:hover {
  background-color: #f2f7f5;
}

.hero {
  background-color: #314f50;
  color: white;
  padding: 30px 15px 30px 15px;
}

.hero-container {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  gap: 30px;
}

.hero-img {
  width: 250px;
  height: auto;  
}

.hero-text {
  align-self: center;
}

.container {
  width: 100%;
  margin: auto;
}

.main {
  color: #314f50;
  padding: 30px 15px 30px 15px;
}

.items-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.items-card {
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background-color: white;
  cursor: pointer;
}

.items-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.items-text {
  color: #314f50;
  padding: 5px 20px;
}

.footer {
  background-color: #314f50;
  color: white;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.item-detail-card {
  background-color: white;
}

.item-detail-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  margin: 0px;
}

.item-detail-img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1;
}

.item-detail-text {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-detail-title {
  font-size: 34px;
  line-height: 34px; 
  padding-bottom: 10px;
}

.horizontal-line {
  border-top: 1px #eef4f4 solid;
  margin-top: 10px; 
}

.item-detail-id {
  padding: 10px 0px 0px 0px;
}

.item-detail-heading {
  font-size: 16px;
  line-height: 18px; 
  font-weight: 700;
  padding: 30px 0px 0px 0px;
}

.back-link {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #314f50;
  text-decoration: none;
  cursor: pointer;
}

.spacer-20 {
  height: 20px;
}

.spacer-50 {
  height: 50px;
}

.form-control {
  margin: 20px 0px 150px 0px;
}

.form-control label {
  display: block;
  font-size: 13px;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px 0px 25px 0px;
  padding: 3px 7px;
  font-size: 14px;
  font-family: inherit;
  border: 1px solid #314f50;
  border-radius: 5px;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  margin: 10px 0px;
  background-color: #314f50;
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
}

.btn-submit:hover {
  background-color: #406768;
}

.item-taken {
    background-color: #3b865b; 
    color: white; 
    text-align: center; 
    padding: 8px; 
    font-size: 14px; 
    font-weight: 400; 
}

.searchInputs {
  margin-bottom: 50px; 
  display: flex;   
}

.search input {
  background-color: white; 
  border: 0; 
  border-radius: 2px; 
  border-top-left-radius: 0px; 
  border-bottom-left-radius: 0px; 
  font-size: 16px; 
  padding: 15px 15px 15px 15px; 
  height: 35px; 
  width: 300px; 
  font-family: inherit; 
}

.searchIcon {
  height: 35px; 
  width: 40px; 
  border-left: 1px solid #e2f2e9; 
  background-color: white; 
  display: grid; 
  place-items: center;
}

.searchIcon:hover {
  background-color: #f9f9f9; 
}

input:focus {
  outline: none; 
}

.searchIcon svg {
  font-size: 20px; 
}

.location-container {
  display: flex; 
  padding: 15px 0px 10px 0px; 
}

.location-icon {
  height: 25px;
  width: 22px;
  display: grid; 
  align-items: center;
}

.location-icon svg {
  font-size: 18px;  
 
}

.location-text {
  align-self: center;
  height: 25px; 
}

.location-text p {
  font-size: 16px; 
  padding: 0px; 
}

.success {
  padding: 15px; 
  border: 1px solid #3b865b; 
  background-color: #e2f2e9; 
  border-radius: 5px; 
  margin-bottom: 20px; 
  color: #3b865b; 
  font-weight: 700; 
  display: flex; 
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px; 
  width: 70%; /* Could be more or less, depending on screen size */
}

.modal-head {
  display: flex;
  justify-content: space-between;
}

.modal-head p {
  margin: 0; 
  padding: 5px 0px 10px 0px; 
  font-weight: 700; 
}

.modal-cancel {
  display: inline-block;
  margin: 10px 5px 0px 0px;
  background-color: #ececec;
  color: #314f50;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 600;
}

.modal-cancel:hover {
  background-color: #e2e2e2;
}

.modal-delete {
  display: inline-block;
  margin: 10px 0px 0px 5px;
  background-color: #fa5246;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  font-weight: 600;
}

.modal-delete:hover {
  background-color: #f92e20;
}

.cancel-icon {
  cursor: pointer;
  height: 22px;
  width: 22px;
  border-radius: 100px;
  display: grid; 
  place-items: center; 
}

.cancel-icon:hover {
  background-color: #ececec;
}

.cancel-icon svg {
  font-size: 20px; 
}

.btn-taken {
  display: inline-block;
  background-color: #e2f2e9;
  color: #3b865b;
  border: none;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 600;
  width: 75%; 
}

.btn-delete {
  display: inline-block;
  background-color: white;
  color: #fa5246;
  border: none;
  padding: 8px 15px;
  border: 1px solid #fa5246; 
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  font-weight: 600;
  width: 25%;
}


.manage-item {
  padding: 20px 0px 20px 0px;
  display: flex; 
  justify-content: space-between;
  gap: 10px; 
}

.admin-items-card {
  width: 100%;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  background-color: white;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .items-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .header {
    padding: 10px 50px;
  }

  .main {
    padding: 50px;
  }

}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 38px;
    line-height: 40px;
    padding-bottom: 30px;
  }

  .hero {
    padding: 50px;
  }

  .hero-img {
    width: 300px;
    height: auto;  
  }

  .container {
    max-width: 768px;
  }
  .hero-container {
    flex-direction: row;
    text-align: left;
  }
  .items-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 50px;
    line-height: 55px;
    padding-bottom: 30px;
  }

  .container {
    max-width: 1024px;
  }

  .hero-img {
    width: 340px;
    height: auto;  
  }

  .item-detail-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }

  .item-detail-img {
    object-fit: cover;
    height: 100%;
    aspect-ratio: 1;
  }

}
