
h1 {
    font-size: 55px; 
    line-height: 57px; 
    margin: 0; 
}

h2 {
    font-size: 38px; 
    line-height: 40px; 
    font-weight: 800; 
    margin: 0; 
    padding-bottom: 20px; 
}

h3 {
    color: #3B865B; 
    font-size: 20px; 
    line-height: 20px; 
    font-weight: 700; 
    margin: 0; 
    padding-top: 10px; 
}

h4 {
    font-weight: 400; 
    padding-bottom: 20px; 
}

.logo {
    width: 160px; 
    height: auto; 
}

.header {
    background-color: white; 
    padding: 10px 50px; 
}

.header-container {
    display: flex; 
    justify-content: space-between; 
}

.flex-end {
    display: flex; 
    justify-content: flex-end; 
    gap: 8px; 
    align-self: center; 
}

.btn {
    display: inline-block;
    background-color: #F48CA7;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight: 600; 
  }

  .btn:hover {
      background-color: #f69eb5; 
  }

  .menu-item {
    display: inline-block; 
    background-color: white;
    color: #314F50;
    border: none;
    padding: 8px 20px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
    font-weight: 700; 
  }

  .menu-item:hover {
      background-color: #F2F7F5; 
  }

  .hero {
      background-color: #314F50; 
      color: white;
      padding: 50px;   
  }

  .hero-container {
    display: flex; 
    flex-direction: column-reverse;  
    text-align: center; 
    gap: 30px; 

  }


  .hero-img {
      width: 400px; 
      height: auto; 

  }

  .hero-text {
      align-self: center;
  }

  .container {
      width: 100%;
      margin: auto;  
  }

  .main {
    background-color: #F2F7F5; 
    color: #314F50;
    padding: 50px; 
  }

  .items-grid {
      display: grid; 
      grid-template-columns: repeat(1, 1fr); 
      gap: 24px; 
  }

  .items-card {
      width: 100%; 
      border-radius: 8px;
      box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
      background-color: white;
  }

  .items-img {
      object-fit: cover; 
      width: 100%; 
      aspect-ratio: 1;
  }

  .items-text {
      color: #314F50; 
      padding: 5px 20px; 
  }

  .footer {
      background-color:  #314F50;
      color: white; 
      text-align: center; 
      padding: 15px; 
  }

  @media screen and (min-width: 640px) {
        h1 {
            font-size: 55px; 
            line-height: 57px; 
            margin: 0; 
        }

        .container {
            max-width: 640px; 
        }

        .items-grid {
            grid-template-columns: repeat(2, 1fr); 
        }
  }


  @media screen and (min-width: 768px) {
        .container {
            max-width: 768px; 
        }
        .hero-container {
            flex-direction: row; 
            text-align: left; 
        }
        .items-grid {
            grid-template-columns: repeat(3, 1fr); 
        }
        
  }

  @media screen and (min-width: 1024px) {
        .container {
            max-width: 1024px; 
        }
  }